:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --accent-color: #2196F3;
    --white: #fff;
    --black: #000;
    --secondary-bcg-color: #F5F4FA;
    --bcg-for-hw2: #F5F5F5;
    --footer-bgc: #2F303A;
    --footer-text-color:rgba(255,255,255,0.6);
    --border:  #ECECEC;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px; 
    margin-left: auto;
    margin-right: auto;
    
}

a {
    text-decoration: none;
}

button {
    font-family: inherit;
    cursor: pointer;
}

body {
    margin: 0;
}

/* HEADER */ 
.header {
    background-color: var(--white);
    border-bottom: 1px solid var(--border);
}


/* СТИЛІ ДЛЯ СТУДІЇ */

.site-nav, .nav-contact {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}

.nav-contact .uplink {
    display: flex;
    justify-content:baseline;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--primary-text-color);
}

.nav-contact .uplink:hover, 
.nav-contact .uplink:focus {
    color: var(--accent-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.uplink {
    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: baseline;
    justify-content: center; 
}


.clients-svg {
margin-right: 10px;
}

.nav-contact {
    display: flex;
    align-items: center;
}

.nav-contact {
    margin-left: auto; 
    margin-right: 40px;
}

body { 
    color: var(--primary-text-color) ;
    background-color: var(--white);
    font-family: 'Roboto', sans-serif;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.logo {
    color: var(--black);
    font-family: 'Raleway', sans-serif;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
margin-right: 93px;
}

.web {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
}


/* SITE NAV */

.site-nav {
    display: flex;
    align-items: center;
}

.site-nav li:not(:last-child) {
    margin-right: 50px;
}



.site-nav .link {
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    color: var(--secondary-text-color);
    font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

}

.site-nav .link:hover,
.site-nav .link:focus {
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
color: var(--accent-color);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}

.site-nav .link:current {
    color: var(--accent-color);
}

.site-nav .current {
    color: var(--accent-color);
}

/* .number-li:hover, .envelope.li:hover {
fill: var(--accent-color);
} */

/* 
.uplink:hover {
    fill: currentColor;
} */

/* .clients-svg:hover,
.clients-svg:focus {
color: #fff;
} */



/* HERO */
.hero {
    background-color: #2F303A;
    height: 600px;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    
    background-repeat: no-repeat;
    background-size: cover ;
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4),  rgba(47, 48, 58, 0.4)), url(../images/bgimg.jpg);
}

.hero-title {
    
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  color: var(--white);
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;

}

.hero-button {
    
    color:var(--white);
    background-color:var(--accent-color);
    border-color: transparent;
    width: 216px;
height: 50px;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;



}

/* SECTION */

section {
    margin: 0;
    padding-top: 94px;
    padding-bottom: 94px;
}

.container.features li {
display: block;
justify-content: center;
}

.feature-list {
    padding-bottom: 0;
}

.allfeatures {
    display: flex;
    flex-direction: row;
    
    margin-right: auto;
    margin-left: auto;
    
    padding-right: 0;
    align-items: baseline;
}


.all-features:not(:last-child) {
    margin-right: 30px;
}

.all-features {
    width: 270px;
}

.grey-features {
    /* content: ''; */
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color:var(--secondary-bcg-color);
}



.feature-list, .work {
    background-color: var(--white);
}

.section-title {
    color: var(--secondary-text-color);
}

/*  FEATURES*/




/* .antenna::before {
    content: '' ;
    object-fit: contain;
} */

.feature-list .title {
    color:var(--secondary-text-color);
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-top: 0;
margin-bottom: 10px;
}

.feature-list .text {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
margin-top: 0;
margin-bottom: 0;
}

/* WORK */


.pictures {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.work .work-title, .team-title, .clients-title {
    color: var(--secondary-text-color);
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
}

.work-title {
    margin-top: 0;
    margin-bottom: 50px;
}

/* КОМАНДА*/



.flex-container > ul{
    display: flex;
    flex-direction: row;
   

   

}

.team-item {
    width: 270px;
    background-color:var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}


.team-item:not(:last-child) {
    margin-right: 30px;
}
.team-item:first-child {
    margin-left: 0;
}


.team {
    background-color:var(--secondary-bcg-color);
}

.team-title {
    margin-bottom: 50px;
    margin-top: 0;

}


.name {
    color: var(--secondary-text-color);
    font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
text-align: center;
margin-top: 0;
margin-bottom: 10px;
}

.job {
    color: var(--primary-text-color);
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
text-align: center;
margin-bottom: 16px;
margin-top: 0;
}

.paragraph {
    padding-top: 30px;
    padding-bottom: 30px;
}


.socials {
    display: flex;
    justify-content: center;
    align-items: center;
}


.socials-item {
    width: 44px;
    height: 44px;
}

.socials-item:not(:last-child) {
    margin-right: 10px;
}

.socials-link {
    fill: #afb1b8; 
}

.socials-link:hover {
    fill: var(--white);
    background-color: var(--accent-color);
}



.socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    
    background-color: var(--white);
}




.clients-title {
    margin-bottom: 50px;
    margin-top: 0;
}

.our-clients {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

.client-item {
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}

.client-item:not(:last-child) {
    margin-right: 30px;
}

.client-item:hover {
    border: 1px solid var(--accent-color);
}

.client-a {
    fill: #afb1b8;
}

.client-a:hover {
    fill:var(--accent-color);
}


/* ФУТЕР */

.footer {
    background-color: var(--footer-bgc);
    padding: 60px 0;
}

.contact-li:not(:last-child) {
    margin-bottom: 9px;
}


.contact-nav .downlink{
    color: var(--footer-text-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
}

.contact-nav .downlink:hover, 
.contact-nav .downlink:focus {
    color: var(--accent-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.location {
    font-style: normal;
    color:var(--white);
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
margin-bottom: 12px;
margin-top: 28px;
}


.lower-logo {
    color: var(--white);
    font-family: 'Raleway', sans-serif;
    margin-bottom: 28px;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
}


.socials.footer {
    padding: 0;
}



.join-div {
 display: flex;
 width: 206px;
 height: 80px;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin-left: 70px;
}

.join-us {
    margin-top: 72px;
    margin-left: 516px;
}

.join {
    color: var(--white);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    width: 116px;
    margin-top: 0;
    margin-bottom: 20px;

}

.join-a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.join-a:hover {
    background-color: var(--accent-color);
    color: white;
}

.join.svg {
    fill: currentColor;
}



.client-a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}



/* СТИЛІЗАЦІЯ СТОРІНКИ ПОРТФОЛІО*/
.main-section {
    background-color: var(--white);
}
.portfolio-button {
color: var(--secondary-text-color);
background-color: var(--secondary-bcg-color);
border-color: transparent;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.63;
text-align: center;
letter-spacing: 0.03em;

border-radius: 4px;
padding-top: 6px;
padding-bottom: 6px;
padding-left: 22px;
padding-right: 22px;
}

.prt-btn {
    padding-bottom: 0;
}



.pb:not(:last-child) {
    margin-right: 8px;
}

.portfolio-button:not(:last-child) {
    margin-right: 8px;
    background: var(--secondary-bcg-color);
}



.portfolio-button:hover,
.portfolio-button:focus {
    color: var(--white);
    background-color: var(--accent-color);
}

.port-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}



.pb:hover {
    box-shadow:   0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08),
    0px 3px 1px 0px rgba(0, 0, 0, 0.1);
     
}

.sect-card {
padding-top: 0;
}

.card-set {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
 
}

.cardsubtitles {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;

}

.cselement {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.cselement:nth-child(3n) {
    margin-right: 0;
}

.cselement:hover {
    box-shadow:  1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06),
    0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.img {
    display: block;
}



.card-title {
    color: var(--secondary-text-color);
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
margin-top: 0;
margin-bottom: 0;
}

.card-area {
    color: var(--primary-text-color);
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
margin-bottom: 0;
margin-top: 0;
padding-top: 4px;
}

.card-description {
    color: var(--black); 
    /* ЧОРНИЙ - ТИМЧАСОВИЙ КОЛІР, ПОТІМ ТРЕБА ЗАМІНИТИ НА БІЛИЙ */
font-size: 18px;
line-height: 1.5;
letter-spacing: 0.03em;
margin: 0;
}